* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: #f0f2f5;
    margin: 0;
    padding: 20px;
    background-image: url('./bg.webp');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    color: #fdfdfd;
    margin-bottom: 20px;
    text-shadow: 0 2px 8px #000000a2;
    font-size: 4rem;
}

.search-box {
    margin-bottom: 20px;
}

#pageInput {
    padding: 10px;
    width: 200px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 8px #000000a2;
}

#searchBtn {
    padding: 10px 15px;
    margin-left: 5px;
    border: none;
    border-radius: 8px;
    background-color: #219150;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

#searchBtn:hover {
    background-color: #27ae60;
    box-shadow: 0 2px 8px #000000a2;
    ;
}

.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.card {
    background: #000000c5;
    border-radius: 10px;
    margin: 10px 20px;
    padding: 10px;
    width: 350px;
    height: 500px;
    text-align: center;
    color: #fff;
    transition: all 200ms ease-in-out;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.card img {
    height: 350px;
    width: 100%;
    border-radius: 100%;
    object-fit: contain;
    transition: all 200ms ease-in-out;
}

.card:hover {
    box-shadow: rgba(102, 21, 183, 0.4) -5px 5px, rgba(81, 17, 146, 0.4) -10px 10px, rgba(69, 14, 124, 0.4) -15px 15px, rgba(52, 10, 94, 0.4) -20px 20px, rgba(39, 7, 71, 0.4) -25px 25px;
}

.card:hover h2 {
    color: #d57412;
    text-shadow: 0 2px 8px #d57412;
}

.card:hover img {
    border-radius: 10px;
}

.card h2 {
    margin: 10px 0 5px;
    font-size: 25px;
    color: #ffffff;
    font-weight: bolder;
    letter-spacing: 3px;
}

.card p {
    font-size: 20px;
    color: #dddddd93;
}

.card:hover p {
    color: #dddddd;
}

.card strong {
    color: #d57412;
    font-weight: bold;
    font-size: 20px;
}


